@model List<UsersInRoleViewModel>
@{
    ViewData["Title"] = "AddUsersToRole";
    var roleId = ViewBag.RoleId;
}

<h2 class="alert alert-info">AddUsersToRole</h2>
<hr />
<form asp-controller="Administrator"
      asp-action="AddUsersToRole"
      asp-route-roleId="@roleId">

    <div class="card bg-light mt-3">
        <div class="card-header">Add Or Remove Users from This Role</div>
        <div class="card-body">
            <h5 class="card-title">
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <input type="hidden" asp-for="@Model[i].UserId" />
                    <input type="hidden" asp-for="@Model[i].Email" />
                    <div class="form-check">
                        <input asp-for="@Model[i].IsSelected" class="form-check-input">
                        <label asp-for="@Model[i].IsSelected" class="form-check-label">
                            @Model[i].Email
                        </label>
                    </div>
                }
            </h5>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Update</button>
            <a class="btn btn-info"
               asp-controller="Administrator"
               asp-action="EditRole"
               asp-route-roleId="@roleId">Cancel</a>
        </div>
    </div>
</form>

